body {

}

#banner-image
.my-banner {
	background-size:cover;
	background-position:center center;
	background-repeat: no-repeat;
}

.banner-text {
	color: white;
	margin-top: 150px;
	margin-bottom: 40px;
}

.banner-text h1 {
	text-transform: uppercase;
	font-size: 80px;
	font-family: Calibri Light;
	line-height: 1em;
}

.banner-text h3 {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 35px;
	margin-top: 18px;
}

.banner-text p {
	margin-bottom: 40px;
	margin-top: 30px;
	font-size: 22px;
	font-family: Calibri Light;
}

.banner-text button {
	text-transform: uppercase;
}



#all-mobile-brand
.mobile-brand{
	margin: 80px 0;
	text-align: center;
}

.brand1 {
	height: 310px;
	background: linear-gradient(to bottom, #fe727a 0%, #f7569a 75%);
	position:relative;
	display:block;
}

.brand1 img {
	height: 235px;
}

.brand2 {
	height: 310px;
	background: linear-gradient(to bottom, #08b4d6 0%, #a157f1 75%);
	position:relative;
	display:block;
}

.brand2 img {
	height: 235px;
}

.brand3 {
	height: 310px;
	background: linear-gradient(to bottom, #18c4df 0%, #30a9f9 75%);
	position:relative;
	display:block;
}

.brand3 img {
	height: 235px;
}

.brand4 {
	height: 310px;
	background: linear-gradient(to bottom, #ffa61a 0%, #ff5983 75%);
	position:relative;
	display:block;
}

.brand4 img {
	height: 235px;
}

.image-overly {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 22px;
  padding: 20px;
  text-transform: uppercase;
}

.image-overly:hover {
  opacity: .3;
}

.offer-image {
	margin-bottom: 50px;
}

.offer-banner-text {
	margin: 25px 0 110px 20px;
}

.offer-banner-text h3 {
	color: white;
	text-transform: uppercase;
}

.black-friday-text {
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin: 25px 0 215px 0;
}


#product-list
.product-color {
	background-color: #F7F9FA;
}
.product-all {
	padding-top: 30px;
	margin-bottom: 40px;
}

.product-all h3 {
	text-transform: uppercase;
}

.card {
	margin-bottom: 50px;
}

.card-title {
	font-size: 18px;
	background-color: #F7F9FA;
	padding: 10px 0 10px 10px;
}

.card-text {
	font-weight: bold;
}

.card-button {
	display: flex;
}

.card-button p {
	margin-right: 78px;
	font-size: 20px;
}

.footer-text h3 {
	text-align: center;
	color: white;
	margin-top: 50px;
	padding-top: 50px;
}

.footer-text p {
	text-align: center;
	color: white;
}

.footer-bg-image {
	padding-bottom: 40px;
}




#logo
.logo-button{
	margin-top: 25px;
}

.second-logo img {
	float: right;
}

.second-logo a i {
	font-size: 25px;
	color: black;
	padding-top: 10px;
}

.dropdown {
	margin-top: 30px;
}

.dropdown a {
	margin-left: 10px;
	color: #757575;
	background-color: white;
	border: none;
	font-size: 15px;
}

.dropdown i {
	margin-left: 10px;
}

.dropdown-menu a {
	color: black;
	font-size: 13px;
}

.dropdown-menu a:hover, .dropdown-item:hover {
	color: #1AA4CB;
}


#display
.mobile-display {
	background-color: #Eff0F5;
}

.arrow-menu {
	padding: 10px;
	font-size: 14px;
}

.arrow-menu a {
	text-decoration: none;
}

.arrow-menu span i {
	padding: 8px;
	color: #CDCED1;
}

.only-color {
	color: #1a9cb7;
}

.only-span {
	color: #757575;
}




#order
.order-list{
}

.phone-order {
	background-color: #Eff0F5;
	padding-bottom: 10px;
}

.order-details {
	background-color: white;
}

.zoom-order hr{
	border-bottom: 1px solid #9E9E9E;
	height: 0!important;
}

.zoom-image {
	padding: 0 5px;
	display: flex;
	
}

.zoom-image button {
	border: 0 solid;
	background-color: white;
	padding: 0 8px;
}

.zoom-link img {
	width: 100%;
	border: 1px solid #9E9E9E;
}

.zoom-link1 i {
	color: #9E9E9E;
	font-size: 24px;
}

.phone-zoom {
	display: flex;
}

.order-text {
	padding-top: 5px;
}

.order-text a{
	font-size: 24px;
}

.order-rating {
	padding-top: 8px;
	padding-right: 15px;
}

.order-rating img {
	width: 3%;
}

.order-rating a {
	text-decoration: none;
	font-family: Roboto;
	font-size: 13px;
	
}

.order-rating p {
	font-size: 14px;
	color: #9E9E9E;
	padding-top: 8px;
}

.order-rating i {
	padding-left: 30px;
	color: #9E9E9E;
	font-size: 18px;
}

.order-icon span {
	padding-right: 97px;
}

.order-rating hr {
	border-bottom: 1px solid #9E9E9E;
	height: 0!important;
}

.order-installment {
	padding-right: 15px;
}

.order-installment h3 {
	font-family: Roboto;
	color: #F57224;
	font-size: 30px;
}

.order-installment p s{
	font-family: Roboto;
	color: #9E9E9E;
}

.order-installment p {
	color: #757575;
}

.order-installment p i {
	padding-right: 5px;
}

.order-installment p a{
	padding-left: 25px;
	text-decoration: none;
	color: black;
	font-family: Roboto;
}

.order-installment hr {
	border-bottom: 1px solid #9E9E9E;
	height: 0!important;
}

.buy-add {
	display: flex;
	padding: 10px 25px 20px 0;
}

.buy-now {
	padding-right: 10px;
}

.buy-now button {
	color: white;
	font-size: 16px;
	background-color: #26ABD4;
	font-family: Roboto;
	padding: 10px 80px;
}

.add-cart button {
	color: white;
	font-size: 16px;
	background-color: #F57224;
	font-family: Roboto;
	padding: 10px 80px;
}




.delivery-service {
	background-color: #FAFAFA;
}

.delivery-info {
	padding: 20px 15px 0;
}

.delivery-info p {
	color: #757575;
	font-size: 13px;
	font-family: Roboto;
	font-weight: bold;
}

.delivery-info p i {
	float: right;
	color: #757575;
	font-weight: bold;
}

.delivery-location {
	display: flex;
	padding: 0 15px;
}

.delivery-location i {
	font-size: 21px;
	color: #757575;
}

.delivery-location p {
	font-size: 15px;
	padding: 0 10px 10px;
}

.delivery-location a {
	font-size: 13px;
	padding: 5px 0 10px 10px;
	text-decoration: none;
	color: #1A9CB7;
}

.ful-field {
	display: flex;
	padding: 0 15px;
}

.ful-field i {
	font-size: 20px;
	color: #F3935A;
}

.ful-field p {
	font-size: 15px;
	padding: 0 10px 10px;
}

.delivery-service hr {
	margin-top: 0;
	border-bottom: 1px solid #9E9E9E;
	height: 0!important;
}

.delivery-home {
	padding: 0 15px;
	display: flex;
}

.delivery-home i {
	font-size: 20px;
	color: #757575;
}

.delivery-home p {
	font-size: 15px;
	padding: 0 80px 10px 10px;
	margin-bottom: 0;
}

.delivery-home p span {
	font-size: 13px;
	color: #9E9E9E;
}

.delivery-home a {
	font-family: Roboto;
	padding: 5px 0 10px 90px;
	font-weight: 500;
}

.delivery-express {
	padding: 0 15px;
	display: flex;
}

.delivery-express i {
	font-size: 20px;
	color: #757575;
}

.delivery-express p {
	font-size: 15px;
	padding: 0 80px 20px 10px;
	margin-bottom: 0;
}

.delivery-express p span {
	font-size: 13px;
	color: #9E9E9E;
}

.delivery-express a {
	font-family: Roboto;
	padding: 5px 0 10px 82px;
	font-weight: 500;
}

.service-info {
	padding: 10px 15px;
}

.service-info p {
	color: #757575;
	font-size: 13px;
	font-family: Roboto;
	font-weight: bold;
}

.service-info p i {
	float: right;
	color: #757575;
	font-weight: bold;
}

.service-authentic {
	padding: 0 15px;
	display: flex;
}

.service-authentic i {
	font-size: 14px;
	color: #373598;
}

.service-authentic p {
	font-size: 15px;
	padding: 0 80px 20px 10px;
	margin-bottom: 0;
}

.service-authentic p span {
	font-size: 13px;
	color: #9E9E9E;
}

.service-warranty {
	padding: 0 15px;
	display: flex;
}

.service-warranty i {
	font-size: 20px;
	color: #757575;
}

.service-warranty p {
	font-size: 15px;
	padding: 0 0 20px 10px;
	margin-bottom: 0;
}

.realme-store {
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #FAFAFA;
}

.realme-store p {
	padding: 15px 15px 0 15px;
	margin-bottom: 0;
	font-size: 13px;
	color: #757575;
}

.realme-chat {
	display: flex;
	padding: 0 15px;
}

.realme-chat h5 {
	padding-right: 70px;
}

.realme-chat a {
	text-decoration: none;
	color: #199CB7;
	font-weight: bold;
	font-family: Roboto;
	padding-left: 70px;
}

.realme-chat a i {
	color: #199CB7;
	font-size: 13px;
	padding-right: 8px;
}

.realme-image img {
	padding: 0 15px;
}

.realme-box {
	display: flex;
}

.realme-box p {
	width: 33.33%;
}

.realme-persent {
	display: flex;
	padding: 15px 15px;
}

.realme-persent h4 {
	width: 33.33%;
	padding-left: 10px;
	font-family: Roboto;
	font-size: 28px;
}

.realme-visit {
	text-align: center;
	padding-bottom: 15px;
}

.realme-visit a {
	text-decoration: none;
	color: #199CB7;
	font-weight: bold;
}






#product
.product-realme {

}

.product-details {
	background-color: #Eff0F5;
}

.same-store p {
	background-color: #FAFAFA;
	font-weight: 500;
	padding: 15px;
	font-size: 18px;
	margin-bottom: 0;
}

.store-image {
	background-color: white;
}

.store-image img {
	width: 100%;
}

.store-text {
	padding: 0 0 10px 10px;
}

.store-text p {
	font-size: 13px;
	margin: auto;
}

.store-text h5 {
	font-family: Roboto;
	color: #F57224;
	margin-bottom: 0;
}

.store-text img {
	width: 6%;
}

.all-details {
	background-color: white;
	padding: 0 15px;
}

.specific-product p {
	font-size: 14px;
	padding-left: 15px;
}

.text-middel p {
	font-weight: 500;
	padding: 0 0 15px 15px;
	font-size: 18px;
	margin-bottom: 0
}

.specific-details {
	padding: 0 15px;
}

.specific-text-color p {
	margin-bottom: 0;
	color: #757575;
	font-size: 14px;
}

.specific-what {
	display: flex;
	padding: 0 15px;
}

.specific-text-last p {
	padding-left: 50px;
}

.all-details hr {
	border-bottom: 1px solid #9E9E9E;
	height: 0!important;
}

.specific-line hr {
	border-bottom: 1px solid #9E9E9E;
	height: 0!important;
	margin-top: 0;
}








#questions
.questions-about {
}

.questions-part {
	background-color: #Eff0F5;
}

.header-text p {
	background-color: #FAFAFA;
	font-weight: 500;
	padding: 15px 15px 15px 30px;
	font-size: 18px;
	margin-bottom: 0;
}

.questions-header {
	background-color: white;
	padding: 10px 25px 10px 30px;
}

.login-register a {
	text-decoration: none;
	font-family: Roboto;
}

.login-register span {
	font-size: 13px;
}

.login-register p {
	font-family: Roboto;
	padding: 10px 0 10px 0;
	font-size: 15px;
}

.login-register hr {
	border-bottom: 1px solid #9E9E9E;
	height: 0!important;
}

.question-answer span i{
	text-decoration-color: white;
	padding-right: 20px;
}

.question-answer p {
	padding-left: 35px;
}

.question-answer hr {
	border-bottom: 1px solid #9E9E9E;
	height: 0!important;
}

.question-answer2 span i{
	text-decoration-color: white;
	padding-right: 20px;

}

.question-answer2 p {
	padding-left: 35px;
	color: #757575;
	font-size: 13px;
}

.question-answer2 hr {
	border-bottom: 1px solid #9E9E9E;
	height: 0!important;
}

.page-item button {
	border: none;
	background-color: white;
}

.arow-button {
	text-align: right;
	padding: 10px 0 20px 0;
}

.arow-button button {
	border: 0 solid;
	background-color: #EFF0F5;
	border-color: #DADADA;
	padding: 0;
	font-size: 14px;
}

.arow-button button a {
	padding: 9px;
	color: #757575;
}

.page-link {
	background-color: #FAFAFA!important;
}

.page-link0 {
	background-color: #DADADA;
	text-color: white;
}

.page-link0 i {
	color: white;
}

.page-link1 {
	background-color: #1A9CB7;
	text-decoration: none;
	color: white!important;
}

.page-link5 {
	border: 0!important;
	text-decoration: none;
	background-color: white;
}




#bottom-card
.all-card {
}

.bg-card {
	background-color: #Eff0F5;
}

.card-text p {
  font-weight: 600;
  font-size: 18px;
  padding-top: 10px;
}

.card-body h6 {
	font-size: 13px;
	font-family: Roboto;
}

.card-body p {
	font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
  color: #f57224;
  font-size: 18px;
  line-height: 10px;
  margin: 25px 0 0;
}

.card-body img {
	width: 6%;
}

.card-body-other {
	padding: 16px 16px 11px;
}

.card-body-other h6 {
	font-size: 13px;
	font-family: Roboto;
}

.card-body-other p {
	font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
  color: #f57224;
  font-size: 18px;
  line-height: 10px;
  margin: 15px 0 0;
}

.card-body-other img {
	width: 6%;
}





#customer
.customer-care {
	background-color: #2E2E54;
}

.customer-menu {
	padding-bottom: 25px;
}

.customer-menu h3 {
	color: white;
	font-size: 18px;
	margin: 20px 0 10px 0;
	font-family: Roboto;
}

.customer-menu a {
	color: white;
	display: block;
	text-decoration: none;
	font-size: 12px;
	font-family: Roboto;
}

.daraz-menu {
	padding-bottom: 20px;
}

.daraz-menu h3 {
	color: white;
	font-size: 18px;
	margin: 50px 0 10px 0;
	font-family: Roboto;
}

.daraz-menu a {
	color: white;
	display: block;
	text-decoration: none;
	font-size: 12px;
	font-family: Roboto;
}

.qr-code img {
	border-radius: 10px;
  width: 17%;
  margin: 25px 20px 0 0;
  display: block;
  float: left;
}

.customer-logo img {
	display: block;
  padding-top: 45px;
  width: 50px;
}

.customer-text {
	color: #F85606;
	line-height: 18px;

}

.customer-text1 {
	color: white;
}

.image-customer-bottom {
	margin-top: 25px
}

.image-customer-bottom a {
	padding-right: 8px;
}




#allmethods
.methods {
}

.bank-card {
	margin: 25px 0 15px 0;
}

.bank-card h3 {
	font-size: 18px;
  color: #585858;
  font-family: Roboto;
}

.bank-card img {
	margin: 10px 8px 6px 0;
}

.bank-card p {
	margin-top: 100px;
	font-size: 18px;
  color: #585858;
  font-family: Roboto;
}

.country-flag {
	margin: 25px 0 15px 0;
}

.country-flag h3 {
	font-size: 18px;
  color: #585858;
  font-family: Roboto;
}

.country-flag img {
	margin: 10px 6px 0 0;
}

.social-icon {
	margin: 25px 0 15px 0;
}

.social-icon h3 {
	font-size: 18px;
  color: #585858;
  font-family: Roboto;
}

.social-icon img {
	margin: 10px 6px 0 0;
}

.verified-image {
	margin: 25px 0 15px 0;
}

.verified-image h3 {
	font-size: 18px;
  color: #585858;
  font-family: Roboto;
}

.verified-image img {
	margin-top: 10px;
}



#delivery-information
.from {
}

.from-bg {
	background-color: #F4F4F4;
	padding-top: 13px;
}

.delivery-information {
	background-color: white;
	font-family: Roboto;
}

.delivery-information h4 {
	padding: 25px 0 20px 30px;
}

.delivery-from {
	padding: 0 50px 50px 40px;
}

.full-name {
	padding-bottom: 25px;
  font-size: 14px;
}

.phone-number {
	padding-bottom: 25px;
  font-size: 14px;
}

.building-house {
	padding-bottom: 25px;
  font-size: 14px;
}

.colony-suburb {
	padding-bottom: 25px;
  font-size: 14px;
}

.region-name {
	padding-bottom: 25px;
  font-size: 14px;
}

.city-name {
	padding-bottom: 25px;
  font-size: 14px;
}

.city-name input {
  background-color: #FAFAFA;
}

.area-name {
	padding-bottom: 25px;
  font-size: 14px;
}

.area-name input {
  background-color: #FAFAFA;
}

.address-number {
	padding-bottom: 25px;
  font-size: 14px;
}

.select-delivery p {
	font-size: 18px;
	margin-top: 10px;
}

.office-box {
	display: flex;
	margin-bottom: 30px;
}

.office-box p {
	border-style: solid;
	border-color: #0094B6;
	border-width: 2px;
	border-radius: 8px;
	width: 33%;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 14px;
	padding: 20px;
	background-color: #FAFDFE;
}
	
.office-box a {
	border-style: solid;
	border-color: #F68645;
	border-width: 2px;
	border-radius: 8px;
	width: 33%;
	text-transform: uppercase;
	margin-left: 15px;
	font-size: 14px;
	padding: 20px;
	background-color: #FFF7F6;
}

.office-box p i {
	padding-right: 10px;
}

.office-box a i {
	padding-right: 10px;
}



.save-button {
	text-align: right;
}

.save-button button {
	color: white;
	width: 50%;
	text-transform: uppercase;
	font-size: 18px;
	padding: 8px;
	margin: 5px 0 5px 0;
	background-color: #25A5D8;
}




.proceed {
	background-color: white;
	padding: 10px;
}

.proceed-pay {
	font-family: Roboto;
	background-color: #DADADA;
	text-align: center;
	color: white;
	border-style: solid;
	padding: 12px 10px 0 10px;
}

.proceed-Order h4 {
	font-family: Roboto;
	margin-top: 10px;
}

.proceed-subtotal {
	display: flex;
	margin-top: 15px;
}

.proceed-subtotal p {
	margin-right: 100px;
	font-family: Roboto;
	font-size: 17px;
	color: #6D6E6E;
}

.proceed-subtotal h5 {
	margin-left: 73px;
	font-family: Roboto;
}

.proceed-subtotal2 {
	display: flex;
}

.proceed-subtotal2 p {
	margin-right: 150px;
	font-family: Roboto;
	font-size: 17px;
	color: #6D6E6E;
}

.proceed-subtotal2 h5 {
	margin-left: 100px;
	font-family: Roboto;
}

.proceed-from {
	display: flex;
}

.proceed-from input {
	margin: 5px 10px 5px 0;
	padding: 10px;
	font-size: 18px;
	font-family: Roboto;
}

.proceed-from button {
	color: white;
	width: 40%;
	text-transform: uppercase;
	font-size: 18px;
	padding: 8px;
	margin: 5px 0 5px 0;
	background-color: #25A5D8;
	font-family: Roboto;
}

.proceed-installment select {
	border: none;
	font-size: 14px;
	padding-left: 3px;
	padding-top: 0;
}

.proceed-total {
	display: flex;
	margin-top: 10px;
}

.proceed-total p {
	font-size: 18px;
	font-family: Roboto;
	margin-right: 165px;
	margin-bottom: 0;
}

.proceed-total h4 {
	font-size: 20px;
	font-family: Roboto;
	color: #F68645;
	margin-left: 100px;
	margin-bottom: 0;
}

.proceed-VAT {
	margin-top: 0;
}

.proceed-VAT p {
	text-align: right;
	font-size: 14px;
}





#delivery-part
.delivery {	
}

.delivery-bg {
	background-color: #F4F4F4;
}

.package {
	background-color: #FAFAFA;
	padding: 13px 8px 13px 8px;
}

.package-text {
	font-size: 16px;
	font-family: Roboto;
}

.package-text1 {
	float: right;
	font-size: 13px;
	font-family: Roboto;
}

.all-items {
	background-color: #FAFAFA;
	padding: 13px 8px 0 8px;
}

.blanck-space {
	margin-top: 10px;
	background-color: #FAFAFA;
}

.item-2 p {
	text-transform: uppercase;
}

.price-2 p {
	text-transform: uppercase;
}

.quantity-2 p {
	text-transform: uppercase;
	text-align: right;
}

.package-delivery {
	background-color: white;
}

.delivery-head p {
	font-family: Roboto;
	padding: 10px 0 0 20px;
	font-size: 18px;
}

.delivery-type {
	margin: 20px;
}

.delivery-option1 {
	border-style: solid;
	border-color: #0094B6;
	border-width: 2px;
	padding-bottom: 15px;
	border-radius: 8px;
}

.delivery-option1 input {
	float: left;
	margin: 20px 20px 0 20px;
}

.delivery-option1 h6 {
	font-size: 20px;
	font-family: Roboto;
	margin-top: 15px;
}

.delivery-option1 p {
	margin: 18px 0 3px 50px;
	color: #6D6E6E;
	font-family: Roboto;
}

.delivery-option1 a {
	margin-left: 50px;
	color: #6D6E6E!important;
	font-family: Roboto;
}

.delivery-option2 {
	background-color: #F8F8F8;
	border-style: solid;
	border-radius: 8px;
	border-width: 2px;
	padding-bottom: 15px;
	border-color: #DADADA;
}

.delivery-option2 input {
	float: left;
	margin: 20px 20px 0 20px;
}

.delivery-option2 h6 {
	font-size: 20px;
	font-family: Roboto;
	margin-top: 15px;
}

.delivery-option2 p {
	margin: 18px 0 3px 50px;
	color: #6D6E6E;
	font-family: Roboto;
}

.delivery-option2 a {
	margin-left: 50px;
	color: #6D6E6E!important;
	font-family: Roboto;
}

.package-image img {
	width: 70%;
	margin: 0 20px 20px 30px;
}

.package-quantity p strong {
	color: black;
}

.package-text img {
	float: left;
}

.package-text h6 {
	color: black;
	font-family: Roboto;
	font-size: 20px;
}

.package-text a {
	font-size: 16px;
	font-family: Roboto;
	color: #BAB7AC!important;
}

.package-price h5 {
	font-family: Roboto;
	color: #F68645;
	font-size: 25px;
}

.package-price h6 {
	font-size: 20px;
	margin-top: 10px;
}

.package-price a s {
	color: #BAB7AC;
	font-family: Roboto;
	font-size: 20px;
}

.package-quantity p {
	text-align: right;
	margin: 0 30px 20px 20px;
	font-size: 25px;
	font-family: Roboto;
	color: #BAB7AC;
}


